.albums-container {
  margin-top: 10px;

  .album {
    cursor: pointer;
    position: relative;
    img {
      border-radius: 5px;
    }
    .hover-events-parent {
      display: none;
      position: absolute;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      a {
        background: rgba(0, 0, 0, .65);
        width: 52px;
        height: 52px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg .fill_path {
          fill: #fff;
        }
        &:hover {
          background-color: #000;
        }
      }
    }

    &:hover {
      .hover-events-parent {
        display: flex;
      }
    }
  }

  p {
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
