<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">The Movies</span>
    </div>
  </nav>
</header>

<div *ngIf="loader" class="loader" role="status">
  <div class="spinner-border ">
  </div>
</div>
<div *ngIf="!loader" class="container-fluid">
  <div class="form-group mb-3 mt-3">
    <select class="form-control" (change)="sortOptions(mySelect.value)" #mySelect>
      <option value="popularity.desc" selected>Popularity Descending</option>
      <option value="popularity.asc">Popularity Ascending</option>
      <option value="release_date.asc">Release date in ascending order</option>
      <option value="release_date.desc">Release date in descending order</option>
      <option value="revenue.asc">Revenue Ascending</option>
      <option value="revenue.desc">Revenue Descending</option>
      <option value="primary_release_date.asc">Primary release date Ascending</option>
      <option value="primary_release_date.desc">Primary release date descending</option>
      <option value="original_title.asc">Original title ascending</option>
      <option value="original_title.desc">Original title descending</option>
      <option value="vote_average.asc">Vote average ascending</option>
      <option value="vote_average.desc">Vote average descending</option>
      <option value="vote_count.asc">Vote count ascending</option>
      <option value="vote_count.desc">Vote count descending</option>
    </select>
  </div>
  <div class="row">
    <p *ngIf="!movies && !movies.length">No Record found</p>
    <div class="col-md-2" *ngFor="let album of movies | paginate: { itemsPerPage: 10, currentPage: searchData.page }">
      <div class="album">
        <img class="w-100"
          [src]="sanitizer.bypassSecurityTrustResourceUrl('https://image.tmdb.org/t/p/original/'+album.poster_path)"
          alt="" />
      </div>
      <p>{{album.original_title}}</p>
    </div>
    <pagination-controls style="text-align: center;" (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>
